<?php

namespace AirTable\Tests;

class AirTableTestCredentials {

    /**
     * These must be filled out with valid Airtable API credentials for the tests to
     * run.
     */
    public static $base = '';
    public static $token = '';
    public static $table = '';
    public static $testColumn = '';
}